.slice-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slice-range:active {
  opacity: 1;
}

.slice-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 36px;
  height: 36px;
  background: url("/interactive-pricing-component-ts/images/icon-slider.svg") no-repeat center;
  background-color: var(--cyan-strong);
  border-radius: 50%;
  box-shadow: 4px 4px 20px 2px var(--cyan-strong);
  cursor: pointer;
}

.slice-range::-webkit-slider-thumb:active {
  cursor: grabbing;
}

.slice-range::-moz-range-thumb {
  width: 36px;
  height: 36px;
  background: url("/interactive-pricing-component-ts/images/icon-slider.svg") no-repeat center;
  background-color: var(--cyan-strong);
  border-radius: 50%;
  box-shadow: 6px 6px 40px hsla(var(--cyan-strong), 0.1),
    -6px -6px 40px hsla(var(--cyan-strong), 0.1);
  cursor: pointer;
}

.slice-range::-moz-range-thumb:active {
  cursor: grabbing;
}

@media (min-width: 48rem) {
  .range-section {
    grid-column: 1/span 2;
  }
}